:root {
    --primary-color: darkblue;
    --secondary-color: #eee;
    --text-dark: #333;
    --text-light: white;
    --border-color: black;
    --shadow-color: gray;
    --main-image-width: 150px;
    --aside-image-width: 200px;
    --small-padding: 2px;
    --medium-padding: 20px;
}

nav a {
    color: var(--text-light);
    display: block;
    padding: var(--medium-padding);

}

h1 {
    color: var(--primary-color)
}

img {
    width: var(--main-image-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: var(--small-padding);
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

main img {
    width: var(--main-image-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: var(--small-padding);
    box-shadow: 0 0 30px var(--shadow-color);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    /* 1️⃣ */
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--text-dark);
    text-align: center;
}

aside img {
    width: var(--aside-image-width);
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}